.hidden { display: none; }

form { }
form fieldset { }
form fieldset ul { list-style: none; margin: 0.25em 0.5em; padding: 0; }
form fieldset ul li { margin: 0.25em 0.25em; padding: 0; }
form fieldset ul li label { width: 18ex; margin: 0 0.5em 0 0; float: left; text-align: right; }
form fieldset ul li input { width: 35ex; }
form fieldset ul li textarea { width: 45ex; }
form fieldset ul li.error { background: #fdd; }

#post-app .pre-login { display: block; }
#post-app .needs-login { display: none; }

#post-app.logged-in .pre-login { display: none; }
#post-app.logged-in .needs-login { display: block; }
#post-app.logged-in .hidden { display: none }

#post-app .activity { }
#post-app .activities { }
#post-app .activities .stream { list-style: none; margin: 0; padding: 0; }
#post-app .activities .stream li.activity { margin: 1em 0; }
#post-app .activities .stream li.activity .object p.content { margin: 0.5em 1.25em; padding: 0; }


@media screen and (min-device-width : 320px) and (max-device-width : 800px) {
    #main { margin: 5px 10px; }
    #main h1 { font-size: 125%; }
    form fieldset ul li label { width: 100%; display: block; float: none; text-align: left; }
    form fieldset ul li input { width: 100%; }
    form fieldset ul li textarea { width: 100%; }
}

@media screen and (min-width: 960px) {
    #main { width: 800px; margin: 0 auto; }
}

